.sconsign.dblite
config.log
.sconf_temp
*.o
*.os
*.so
*.cfgc
*.pyc
*_wrap.cc
*Lib.py
*.egg-info

# Built by sconsUtils
version.py
bin/

# pip build
build/

# Pytest
tests/.tests
pytest_session.txt
pytest_report.html
htmlcov
.cache/
.pytest_cache
.coverage
.flake8
.isort.cfg
.mypy.ini

# environment
.tox
.venv
.vscode

# docker build products
.env
docker/pgadmin-data
docker/pgadmin-cfg
docker/pgdata

# local testing
local_testing/
.cspell
