lsst-felis 
alembic 
SQLAlchemy 
testing.common.database==2.0.3
testing.postgresql==1.3.0
safir

pyyaml 
black==24.10.0
psycopg2-binary==2.9.10
pydantic==2.9.2
pydantic_core==2.23.4
fastapi
uvicorn
alembic 
isort 
lsst-felis==27.2024.4300
lsst-resources==27.2024.4400
lsst-utils==27.2024.4400

annotated-types==0.7.0
astropy==6.1.4
astropy-iers-data==0.2024.11.4.0.33.34
asn1crypto==1.5.1
cffi
cfgv
click==8.1.7
Deprecated==1.2.14
numpy==2.1.3

distlib 
filelock
greenlet
identify
Mako 
MarkupSafe 
mypy-extensions==1.0.0
nodeenv 
packaging 
pathspec==0.12.1
pg8000==1.31.2
platformdirs 
pre-commit 
psutil==6.1.0
pycparser 
pyerfa==2.0.1.4
python-dateutil 
PyYAML 
scramp==1.4.5
setuptools-scm 
six 
threadpoolctl==3.5.0
typing_extensions 
ukkonen 
virtualenv 
wrapt==1.16.0